.visor{
    padding: 10px;
    background-color: #555C77;
    height: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    
}
.operation{
    font-size: 30px;
    height: 35px;
}
.total{
    font-size: 70px;
}