.visor{
    padding: 10px;
    background-color: #555C77;
    height: 110px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    
}
.operation{
    font-size: 20px;
    
}
.total{
    font-size: 50px;
}
@media (min-width:500px){
    .visor{
        height: 150px;
    }
    .operation{
        font-size: 30px;
    }
    .total{
        font-size: 70px;
    }
}
