.key{
    width: 60px;    
    height: 60px;
    background-color:#5043E7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}
.keyEqual{
    width: 130px;
    background-color: #ED3838;
}
@media (min-width:500px) {
    .key{
        width: 100px;    
        height: 100px;
        font-size: 40px
    }
    .keyEqual{
        width: 220px; 
    }
}
.key:hover{
    background-color:#2d2680;
}
.keyEqual:hover{
    background-color: #a32626;
}